:root{
    --background-image: url("../image/ZenBG-1.png"), url("../image/ZenBG-2.png");
    --background-repeat: repeat-x, repeat;
   
}
body{
    min-width: 100%;
    display: inline-block;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Helvetica, Sans-Serif;
    margin: 0px;
    background-image: url("../image/ZenBG-1.png"), url("../image/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
}
.nav {
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    font-size: 15px;
    animation: fadeIn 5s;
    text-align: center;
    border-top: 10px solid #161414; /* Add a 1px solid gray line above the navigation bar */
    border-bottom: 10px solid #ccc;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Align the list items to the center */
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
}

nav li img {
    vertical-align: middle;
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 224, 224);
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}



header {
    text-align: center;
    color: #87ceeb;
    padding: 5px 0; /* Reduce the top and bottom padding */
    text-shadow: 2px 2px 4px rgba(43, 74, 56, 0.8);
    font-size: 18px; /* Adjust the font size to make it smaller */
    background-color: #042a2b;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; /* Reduce the space between the header and content */
    border: 5px solid #ffcda2; /* Reduce the border size */
    animation: fadeIn 2.5s ease-in forwards;
    border-radius: 10px;
}
header a:visited{
    color: white;
}
header a:link{
    color: white;
}
header a:hover{
    background-color: #7D3C98;
    
}
h1{
    color: #87ceeb;
    
}

h3{
    color: #06a77d;
}
@keyframes fadeIn {
    0% {
        color: transparent; /* Make the text transparent at the start */
    }
    100% {
        color: #87ceeb;/* Fully visible text at the end */
    }
}img{height: 30px; width: 30px; margin-right: -20px;}