:root {
    --color-primary: #4A4E69;
    --color-secondary: #9A8C98;
    --color-accent: #C9ADA7;
    --color-text: #ffffff;
    
    --font-primary: 'Arial', sans-serif;
    --font-secondary: 'Courier New', Courier, monospace;
}

body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}



.content {
    padding: 20px;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px; 
    background-color: #ffcda2;
    background-image: url(../image/giphy\ \(2\).gif);
}

th, td {
    padding: 10px;
    border-bottom: 1px solid var(--color-secondary);
    text-align: center;
    border-radius: 10px; 
}

th {
    background-color: var(--color-accent);
}

tr:hover {
    background-color: var(--color-accent);
}

.Button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;


}


.Button:hover {
    background-color: var(--color-secondary);
}
h1.Search{
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    animation: glow 5s ease-in-out infinite alternate;
    text-align: center;
    margin-top: 2.5%;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }