.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.content h2 {
    font-size: 24px; 
    color:  #AFA797;
    font-weight: bold; 
    margin-bottom: 10px; 
    text-align: center;
}

.vertical-table {
    display: flex; 
    border: 10px solid #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #ba1a1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto; 
    text-align: center; 
}

.table-row {
    display: flex;
    flex-direction: column;
    margin-right: 200px; 
    
}

.table-label {
    font-weight: bold;
    color: #333;
    padding: 5px;
    text-align: center; 
  
}

.progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; 
  }
  
  
  .bars {
    margin-bottom: 10px;
    text-align: center; 
    
  }

 
  .bars progress{
    width: 80%; 
    height: 20px;
    border-radius: 5px;
    transition: width 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .bars label {
    display: block;
    font-weight: bold;
    
  }
  progress::-webkit-progress-bar {
    background-color: rgb(12, 12, 12);
 }
 progress::-webkit-progress-value {
    background-color: #c7cb85;
 }